$color-primary: #008ace;
$error-color: #e54322;
$lightest: #fff;
$light-border: #ced0db;
$font-family: "Source Sans Pro", "Sans Semibold", arial, sans-serif,
  -apple-system, blinkmacsystemfont;
$font-color-on-dark: #f5f6fa;
$color-light: #ebedf5;
$darkest: #303240;
